<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="col-4 rightcolumn d-none d-lg-block">
      <div class="widget-content">
        <br />
        <a href="https://paypal.me/frivoc?locale.x=fr_FR"
          ><img src="paypal.webp" alt="Paypal"
        /></a>
      </div>
    </div>
  </body>
</html>
