<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
      <h2>About us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, illum
        obcaecati voluptatibus nemo sequi error dolorum tempore eum distinctio
        magnam minus, ullam cumque doloremque esse similique quos nisi commodi
        blanditiis.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem dolores
        quam fuga ut minus odio repellendus possimus voluptatibus sapiente.
        Tempora non iste dolores consequatur voluptatem fugit aut dolore quos
        eaque.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde similique
        nam, est totam error culpa aliquid saepe incidunt enim dolor, ducimus
        perferendis necessitatibus ad ex molestiae blanditiis animi quidem
        tempore.
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
